// import base - contains global styles, such as resets, typography, colors
@import 'vendor/toastr';
// import components- contains each self-contained component in its own .scss partial
// import pages contains page-specific styling
#list>.el {
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    margin: 5px;
}

video {
    display: inline;
    width: 300px;
}